/*
* SearXNG, A privacy-respecting, hackable metasearch engine
*/

#search {
  padding: 0;
  margin: 0;
}

#search_header {
  margin: 0;
}

.category,
.category_checkbox,
.category_button {
  display: inline-block;
  position: relative;
  .ltr-margin-right(1rem);
  padding: 0;
}

.category_checkbox {
  input {
    display: none;
  }

  label {
    cursor: pointer;
    text-transform: capitalize;
    font-size: 0.875rem;
    .disable-user-select;
    border: 1px solid var(--color-result-search-border);
    background-color: var(--color-result-search-category-bg);
    color: var(--color-result-search-category);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0.4375rem 1.25rem;
    border-radius: 2.5rem;

    svg {
      padding-right: 0.2rem;
    }

    span.category_name {
      display: block;
      margin: auto 0;
    }
  }

  input[type="checkbox"]:checked + label {
    color: var(--color-result-search-category-selected);
    border-color: var(--color-result-search-border-selected);
    background-color: var(--color-result-search-category-bg-selected);
  }
}

#result_count {
  padding-left: 1.25rem;
  margin: 0 0 0.5rem 0;
  font-size: 0.875rem;
  color: var(--color-results-count);
}

button.category_button {
  background-color: inherit;
  color: var(--color-base-font);
  cursor: pointer;
  padding: 0.2rem 0;
  display: inline-flex;
  align-items: center;
  text-transform: capitalize;
  font-size: 0.9em;
  border: none;
  border-bottom: 2px solid transparent;

  svg {
    padding-right: 0.2rem;
  }

  &.selected,
  &:active,
  &:focus-within {
    color: var(--color-categories-item-selected-font);
    border-bottom: 2px solid var(--color-categories-item-border-selected);
  }
}

#categories_container:has(button.category_button:focus-within) button.category_button.selected {
  color: var(--color-base-font);
  border-bottom: none;
}

#search_logo {
  padding: 0.5rem 10px 0 10px;
  grid-area: logo;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    flex: 1;
    width: 30px;
    height: 30px;
    margin: 0.5rem 0 auto 0;
  }
}

.search_categories {
  grid-area: categories;

  .help {
    display: none;
  }

  &:hover .help {
    display: block;
    position: absolute;
    background: var(--color-base-background);
    padding: 1rem 0.6rem 0.6rem 0;
    z-index: 1000;
    width: 100%;
    left: -0.1rem;
  }
}

#search_view {
  padding: 1.25rem 0 1rem 0;
  grid-area: search;

  body.results_endpoint & {
    padding: 0.5rem 2.8rem 0 0;
  }

  #links_on_top {
    margin: 0;

    .icon-btn {
      color: var(--color-results-icon-btn);
      border-color: var(--color-results-border-icon-btn);

      &:hover {
        color: var(--color-results-hover-icon-btn);
        border-color: var(--color-results-hover-icon-btn);
      }
    }
  }
}

#q {
  width: 100%;
  .ltr-padding-left(1.25rem);
  .ltr-padding-right(0) !important;
  .ltr-rounded-left-corners(2.5rem);
  display: block;
  margin: 0;
  padding: 0.5rem 1.25rem;
  border: none;
  outline: none;
  color: var(--color-search-font);
  background-color: var(--color-search-background);
  font-size: 0.875rem;
  z-index: 2;
}

#send_search {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  border: none;
  color: var(--color-search-font);
  .rounded-corners(2.5rem);
}

#q::-ms-clear,
#q::-webkit-search-cancel-button {
  display: none;
}

#q:focus,
#send_search:focus {
  background-color: var(--color-search-focused-background);
}

.no-js #clear_search,
.no-js #send_search {
  width: auto !important;
  .ltr-border-left(1px solid var(--color-search-border));
}

.search_box {
  box-sizing: border-box;
  border-radius: 2.5rem;
  border: 1px solid var(--color-search-border);
  width: @search-width;
  display: inline-flex;
  flex-direction: row;
  white-space: nowrap;
  height: 2.5rem;
  padding-right: 0.25rem;

  #clear_search {
    border: none;
    visibility: hidden;
  }

  #clear_search,
  #send_search {
    background-color: var(--color-search-background);
  }

  #send_search {
    &:hover {
      cursor: pointer;
      background-color: var(--color-search-background-hover);
      color: var(--color-blue-200);
    }
  }

  &:has(input:focus) {
    border-color: var(--color-search-focused-border);
    color: var(--color-search-focused-font);
    background-color: var(--color-search-focused-background);

    #q {
      color: var(--color-search-focused-font);
    }

    #clear_search,
    #send_search {
      background-color: var(--color-search-focused-background);
    }

    #send_search {
      &:hover {
        background-color: var(--color-search-focused-send-background);
      }
    }

    #clear_search {
      display: block;
      visibility: visible;
      border-collapse: separate;
      box-sizing: border-box;
      width: 1.8rem;
      margin: 0;
      border: none;
      outline: none;
      color: var(--color-search-font);
      font-size: 1.1rem;
      z-index: 10000;

      &:hover {
        color: var(--color-search-background-hover);
      }

      &.empty * {
        display: none;
      }
    }
  }
}

.search_filters {
  margin-top: 0.6rem;
  .ltr-margin-right(0);
  margin-bottom: 0;
  display: flex;
  overflow-x: auto;
  overscroll-behavior-inline: contain;

  select {
    background-color: inherit;

    &:hover,
    &:focus {
      color: var(--color-base-font);
    }
  }
}

@media screen and (max-width: @tablet) {
  #search_header {
    padding: 1.5em @results-tablet-offset 0 @results-tablet-offset;
    column-gap: @results-tablet-offset;
  }

  .search_filters {
    margin-top: 0.6rem;
    .ltr-margin-right(0);
    margin-bottom: 0;
    .ltr-margin-left(@results-tablet-offset + 3rem);
  }

  #categories {
    font-size: 90%;
    clear: both;
  }
}

#main_results {
  #search_header {
    padding: 0;
  }

  #search_view {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 1.25rem 0;
    gap: 0.5rem;
  }
}

@media screen and (max-width: @tablet) and (hover: none) {
  #main_index,
  #main_results {
    #categories_container {
      width: max-content;

      .category_checkbox {
        display: inline-block;
        width: auto;
      }
    }

    #categories {
      width: 100%;
      .ltr-text-align-left();
      overflow-x: scroll;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;
    }
  }
}

@media screen and (max-width: @phone) {
  .index.index #search {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  #search_header {
    width: 100%;
    margin: 0;
    padding: 0.1rem 0 0 0;
    column-gap: 0;
    row-gap: 0;
    grid-template-areas:
      "logo search"
      "categories categories";
  }

  .search_logo {
    padding: 0;
  }

  .search_box {
    width: 98%;
    display: flex;
  }

  #q {
    width: 100%;
    flex: 1;
  }

  .search_filters {
    margin: 0 10px;
    padding: 0.5rem 0;
  }

  .category {
    display: inline-block;
    width: auto;
    margin: 0;

    svg {
      display: none;
    }
  }

  .category_checkbox {
    label {
      margin: 0 !important;
    }
  }

  .category_button {
    padding: 1rem !important;
    margin: 0 !important;
  }

  #search_view:focus-within {
    display: block;
    background-color: var(--color-search-background);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10000;

    #links_on_top {
      display: none;
    }

    .search_box {
      border: 0;
      border-bottom: 1px solid var(--color-search-border);
      width: 100%;
      border-radius: 0;
      box-shadow: none;

      #send_search {
        .ltr-margin-right(0) !important; // Delete when send_search button is disabled on mobile.
      }

      * {
        border: none;
        border-radius: 0;
        box-shadow: none;
      }
    }
  }

  #main_results #q:placeholder-shown ~ #send_search {
    .ltr-margin-right(2.6rem);
    transition: margin 0.1s;
  }
}

@media screen and (max-width: @ultra-small-phone) {
  #search_header {
    grid-template-areas:
      "search search"
      "categories categories";
  }

  #search_logo {
    display: none;
  }
}

#categories {
  .disable-user-select;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

#categories_container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
